@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1272px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 90%;
  }
}